// TODO vars
.theme-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .theme-form-input-checkbox,
    .theme-form-input {
        display: flex;
        gap: 0.5rem;

        &.form-error {
            color: red;
        }
    }

    .theme-form-input {
        flex-direction: column;
    }

    .form-error-message {
        color: red;
    }
}
