# App settings
VITE_APP_DEFAULT_LOCALE = en
VITE_APP_SUPPORTED_LOCALES = en,it,es
VITE_APP_PUBLIC_PATH = /
# VITE_APP_BASE_URL # createRouter.history = createWebHistory()

# API settings
VITE_API_URL = http://localhost:3000
VITE_API_WEBSOCKET = http://localhost:3001
VITE_API_MOCK_ENABLED = false

# Axios settings
VITE_AXIOS_TIMEOUT = 10000

# Debug settings (dev only)
VITE_APP_DEBUG_ROUTER = false
VITE_APP_DEBUG_HOME = false
