.theme-select {
    // native reset
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    &:focus {
        outline: none;
    }
    // code
    width: 15em;
    padding: 0.5em 1em;
    background:
        var(--select-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, rgb(var(--primary-700)) 3em, rgb(var(--primary-500)) 3em);
    color: rgb(var(--on-primary-500));
    border-radius: 0.2em;
    cursor: pointer;
    // remove IE arrow
    &::-ms-expand {
        display: none;
    }

    // can't really be styled, better to leave default options
    & > option {
        color: initial;
        background-color: initial;
    }
}
