.theme-input {
    appearance: none;
    border: none;
    border-bottom: solid rgb(var(--primary-800)) 0.2em;
    outline: none;
    color: rgb(var(--on-primary-100));
    background: rgb(var(--primary-100));
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.2em 0.2em 0 0;
    transition:
        color var(--transitions-time, 0.2s),
        background-color var(--transitions-time, 0.2s),
        border var(--transitions-time, 0.2s);

    &:hover {
        color: rgb(var(--on-secondary-100));
        background: rgb(var(--secondary-100));
        border-bottom-color: rgb(var(--secondary-500));
    }
}
