@use '@guebbit/css-toolkit' as guebbit;

/**
 * Theme colors
 * They will change with the dark and light theme
 */
$primary-color: #ff9800 !default;
$secondary-color: #00bcd4 !default;
$primary-color--dark: #00bcd4 !default;
$secondary-color--dark: #ff9800 !default;

$theme-colors: (
    'primary': guebbit.create-collection($primary-color),
    'secondary': guebbit.create-collection($secondary-color)
);

$theme-colors-dark: (
    'primary': guebbit.create-collection($primary-color--dark),
    'secondary': guebbit.create-collection($secondary-color--dark)
);

/**
 * Main settings
 */
$css-ui-dark-theme-class: 'theme--dark' !default;

/**
 * Media thresholds
 * "tablet" is between mobile and desktop
 * Should always start with mobile then using "@media (min-width: XXX)" for desktop
 *
 * Mobile (max 670px)
 * Tablet (max 1366px)
 * Desktop (max 1920px)
 * Large Destop (min 1920px)
 */
$g-threshold-mobile: 670px !default;
$g-threshold-desktop: 1920px !default;
